@use 'site-header';
@use 'sidebar';
@use 'blog';
@use 'footer';
@use 'single';
@use 'comments';
@use 'slider-swiper';
@use 'front-page';

@use 'variables' as *;

// Fonts
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    height: 100%;
}

// base structure
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $font-dark;
}

.site {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: calc( var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}


a {
    color: $font-dark;
}

// block scroll mobile menu
body.lock {
    overflow: hidden; 
}

// yellow button
.main_yellow_button {
    text-decoration: none;
    padding: 14px 24px;
    color: $font-dark;
    background-color: $main-yellow;
    border: 1px solid $main-yellow;
    border-radius: 2px;
    transition: all 0.3s ease;
    width: fit-content;

    &:hover {
        color: #fff;
        background-color: $font-dark;
        transform: scale(1.03);
    }
}

// Pagination 
.pagination {
    flex: 0 0 auto;
    margin: 32px 0;
    padding: 32px 0;

    @media (max-width: $tablet) {
        padding: 16px 0;    
    }

    @media (max-width: $mobile) {
        margin: 16px 0;    
        padding: 8px 0;
    }

    .prev, .prev-link {
        margin-right: 15px;
    }

    .next, .next-link {
        margin-left: 15px;
    }
}

// Social menu 
.social-menu {
    margin-left: 12px;

    &__list {
        display: flex;
        gap: 20px;
        height: 20px;
    }

    &__item {
        a {
            img {
                width: 20px;
                height: 20px;
                transition: transform 0.3s ease;
            }
        }

        &:hover {
            a {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.banner {
    background: $main-light;
    padding: clamp(16px, 5vw, 32px);
    height: clamp(70px, 12vw, 130px);
    margin-bottom: 64px;

    @media (max-width: $tablet) {
        margin-bottom: 32px;
    }

    .banner_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }

    h2 {
        font-weight: 600;
        font-size: clamp(16px, 4vw, 24px);
        line-height: 34px;
        letter-spacing: 0.01em;
        color: $font-dark;
    }
}

.search-form {
    display: flex;
    width: 100%;
    min-height: 51px;
  
    .search-field {
        flex: 1;
        padding: 12px 25px;
        font-size: 16px;
        border: none;
        background: #f9f8f3;
        color: $font-dark;
  
        &::placeholder {
            color: #999;
        }
    }
  
    .search-submit {
        width: 72px;
        background: $main-yellow;
        border: none;
        cursor: pointer;
    }
}

.archive-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 64px;

    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 32px;
    }

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

.scroll_to_top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    background-color: $main-yellow;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: rotate(-90deg) scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;

    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19" fill="none"><path d="M21.7084 9.50004L1.29169 9.50004M21.7084 9.50004L13.5417 17.6667M21.7084 9.50004L13.5417 1.33337" stroke="%23333C4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 19px;

    @media (max-width: $mobile) {
        right: 16px;
        bottom: 16px;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
        transform: rotate(-90deg) scale(1);
    }
}