@use 'site-header';
@use 'sidebar';
@use 'blog';
@use 'footer';
@use 'single';
@use 'comments';

@use 'variables' as *;

// Fonts
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    height: 100%;
}

// base structure
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $font-dark;
}

.site {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: calc( var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}


a {
    color: $font-dark;
}

// block scroll mobile menu
body.lock {
    overflow: hidden; 
}

// yellow button
.main_yellow_button {
    text-decoration: none;
    padding: 14px 24px;
    color: $font-dark;
    background-color: $main-yellow;
    border: 1px solid $main-yellow;
    border-radius: 2px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

// Pagination 
.pagination {
    flex: 0 0 auto;
    margin: 32px 0;
    padding: 32px 0;

    @media (max-width: $tablet) {
        padding: 16px 0;    
    }

    @media (max-width: $mobile) {
        margin: 16px 0;    
        padding: 8px 0;
    }

    .prev, .prev-link {
        margin-right: 15px;
    }

    .next, .next-link {
        margin-left: 15px;
    }
}

// Social menu 
.social-menu {
    margin-left: 12px;

    &__list {
        display: flex;
        gap: 20px;
        height: 20px;
    }

    &__item {
        a {
            img {
                width: 20px;
                height: 20px;
                transition: transform 0.3s ease;
            }
        }

        &:hover {
            a {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.banner {
    background: #f8f7f3;
    padding: clamp(16px, 5vw, 32px);
    height: clamp(70px, 12vw, 130px);
    margin-bottom: 64px;    

    @media (max-width: $tablet) {
        margin-bottom: 32px;
    }

    .banner_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }

    h2 {
        font-weight: 600;
        font-size: clamp(16px, 4vw, 24px);
        line-height: 34px;
        letter-spacing: 0.01em;
        color: $font-dark;
    }
}

.search-form {
    display: flex;
    width: 100%;
    min-height: 51px;
  
    .search-field {
        flex: 1;
        padding: 12px 25px;
        font-size: 16px;
        border: none;
        background: #f9f8f3;
        color: $font-dark;
  
        &::placeholder {
            color: #999;
        }
    }
  
    .search-submit {
        width: 72px;
        background: #f7d376;
        border: none;
        cursor: pointer;
    }
}